@font-face {
  font-family: jost;
  src: url(fonts/jost-variable.ttf);
}
::selection {
  background-color: black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html,
#main {
  height: 100%;
  width: 100%;
  background-color: rgb(10, 60, 206);
}
#main {
  overflow-x: hidden;
}
img {
  max-width: 100%;
}
button:hover{
  opacity: 0.5 ;
}
button {
  cursor: pointer;
}
.cont1 {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.cont1 .hero-text {
  margin-top: 2rem;
}
.cont1 #line1,
.cont1 #line2,
.cont1 #line3 {
  overflow: hidden;
  height: clamp(40px, 21vw, 120px);
}
.cont1 h1 {
  transform-origin: left;
  transition-timing-function: ease;
}
.cont1 #line2 .one,
.cont1 #line2 .two {
  display: inline-block;
}
.cont1 #line2 .one {
  margin-right: 10px;
}
.cont1 video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}
.cont1 #text {
  position: relative;
  overflow: hidden;
}
.cont1 #text p {
  transform-origin: left;
}
nav {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav img {
  width: 40px;
  height: 40px;
}
.navham {
  width: 60px;
  height: 30px;
  border: 1px solid white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navham svg {
  width: 25px;
}
.hero-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-family: jost, sans-serif;
  text-align: left;
  padding-inline: 1.2rem;
}
.hero-text h1 {
  font-size: clamp(40px, 20vw, 120px);
  line-height: 1;
  font-weight: 100;
  letter-spacing: -2px;
  line-height: 0.87;
}
.hero-text p {
  letter-spacing: -0.5px;
  margin-block: 2rem;
  font-size: clamp(15px, 4vw, 30px);
  width: 80%;
  font-weight: 320;
  line-height: 1.1;
}
button.learn-more {
  background-color: white;
  border: none;
  padding: 14px 32px;
  border-radius: 22px;
  color: #0a3cce;
  font-family: jost, sans-serif;
}
.cont2 {
  font-family: jost, sans-serif;
  color: white;
  font-weight: 300;
  padding: 6rem 1rem;
  padding-bottom: 0;
  min-height: 100vh;
}
.cont2 .heading {
  font-size: clamp(20px, 3vw, 28px);
  margin-bottom: 2rem;
}
.cont2 .detail {
  font-size: clamp(40px, 6vw, 70px);
  font-weight: 350;
  line-height: 1;
  margin-block: 3rem 2rem;
}
.cont2 .detail span {
  opacity: 0.1;
}
.magmaGlassCont {
  padding-bottom: 4rem;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.magmaGlassCont .bigWrap {
  position: relative;
}
.magmaGlassCont .wrapper {
  overflow: hidden;
}
.magmaGlassCont .header {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  font-family: jost, sans-serif;
}
.magmaGlassCont video {
  height: 100%;
}
.magmaGlassCont h2 {
  font-size: clamp(60px, 9vw, 90px);
  letter-spacing: -3px;
  color: white;
  font-weight: 100;
}
.magmaGlassCont button {
  background-color: white;
  padding: 1rem 2.3rem;
  border: none;
  border-radius: 30px;
  color: #0a3cce;
  font-family: jost, sans-serif;
}
.circleDiv {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(10, 60, 206);
  position: relative;
}
.circleDiv .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 2vh;
  width: 2vh;
  background-color: transparent;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circleDiv .innerCircle {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: clamp(30px,5vw,50px);
  font-family: jost,sans-serif;
  width: 80%;
  height: 80%;
  background-color: transparent;
  border: 1px solid #dadada;
  border-radius: 50%;
}
.featuredIn {
  min-height: 100vh;
  color: white;
  font-family: jost,sans-serif;
  padding: 0rem 1.4rem;
}
.featuredIn h2{
  font-size: clamp(20px,16vw,65px);
  letter-spacing: -2px;
  font-weight: 200;
}
.featuredIn p{
  font-size: clamp(10px,4vw,25px);
  color: #FFFFFFCC;
}
.marqueeInner{
  display: flex;
  gap: 3rem;
}
.marquee{
  margin-top: 7rem;
}
.marqueeInner{
  height: 40px;
  object-fit: cover;
}